@mixin inputField {
  input[type="email"],
  input[type="password"] {
    margin-bottom: 2.8rem;
    background: var(--bg);
    outline: none;
    border: none;
    width: 100%;
    color: var(--color);
    padding: 1.3rem 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.24rem;
    border-radius: 5px;
  }
}

@mixin btn {
  // padding: 1.2rem 2.2rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  border: none;
  outline: none;
  color: var(--primary);
  letter-spacing: 0.25rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  background: transparent;
  padding: 1.2rem 2.5rem;
  line-height: 1.8rem;
  text-align: center;
  border-radius: 5px;

  &:hover {
    color: var(--secondary);
    letter-spacing: 0.38rem;
  }
}
