:root {
  --bg: #182026;
  --primary: #f2e8df;
  --secondary: #f2d027;
  --accent: #f2a663;
  --color: #f29b9b;
  --light: #eaf0f1;
  --dark: #8c6354;
  --btnBG: #593140;
  --bg2: #f2f2f2;
  --bg3: #d9048e;
  --shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}
